.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 35px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .question {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 45px;
    margin-bottom: 40px;
  }